<div style=" background-image:url('https://images.pexels.com/photos/327049/pexels-photo-327049.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')!important;
background-size:cover;height: 657px;width: 100%;margin: 0;">
<!--Navbar-->
<!-- <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false"> -->

    <!-- Navbar brand -->
    <!-- <mdb-navbar-brand><h1 class="navbar-brand">Rentahi</h1></mdb-navbar-brand> -->
    
    <!-- Collapsible content -->
    <!-- <links>
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link">
            <button mdbBtn type="button" color="white" outline="true" mdbWavesEffect>Login</button>
            <button mdbBtn type="button" color="white" outline="true" mdbWavesEffect>Signup</button>
          </a>
        </li>
      </ul>
    </links> -->
    <!-- Collapsible content -->
  
  <!-- </mdb-navbar> -->
  <!--/.Navbar-->
    <h1 id="title">Rentahi</h1>
    <p id="descriptionTitle">
        Rent materials with people around.
    </p>
    <div style="float: right!important; margin-right: 150px; margin-top:130px;">
        <mdb-card  style="width: 400px;">
            <!-- Default form login -->
        <form class="text-center border border-light p-5" #sample="ngForm" (ngSubmit)="login()">
        
            <p class="h4 mb-4">Login</p>
          
            <!-- Email -->
            <input type="text"  name="username" class="form-control mb-4" placeholder="Username" [(ngModel)]="username">
          
            <!-- Password -->
            <input type="password" name="password"  class="form-control mb-4" placeholder="Password" [(ngModel)]="password">
          
            <!-- Sign in button -->
            <button mdbBtn color="info" block="true" class="my-4" [disabled]="!sample.valid">Login</button>
          <div *ngIf="">

          </div>
            <!-- Register -->
            <p>Not a member?
              <a routerLink="/signup">Register</a>
            </p>
          </form>
          <!-- Default form login -->
        </mdb-card>
    </div>
</div>